nav.navbar.navbar-default(role="navigation")
	.container
		.navbar-header
			.navbar-brand
				a(href="/") 
					| SHARECASE
					//- img(src="/static/images/logo-superglot.png", title="superglot")

		ul.nav.navbar-nav
			if user
				li
					a(href="/requests") requests
				li
					a(href="/offers") offers 

		ul.user-info.nav.navbar-nav.navbar-right
			if user
				li.dropdown
					a.dropdown-toggle(href="#", data-toggle="dropdown")
						= user.email
						b.caret
					ul.dropdown-menu
						li
							a(href="/profile") profile
						li.divider  
						li
							a(href="/logout") log out
			else
				li
					a(href="/login") log in
				li
					a(href="/signup") sign up